 * {
    margin: 0px;
    padding: 0px;
}

#hidescroll::-webkit-scrollbar {
    display:none;
}

div .headerimage {
    display:block;
    margin: 10% auto;
}

body {
    background-color: black;
} 

.pill-nav {
    height: 0px;
    background-color: black;
    position:sticky;
    top: 40%;
    margin: auto;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    width: 220px;
}

 .pill-nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 38px;
    border-radius: 5px / 4px; 
} 

.pill-nav a:hover {
    background-color: rgb(7, 7, 7);
    color: #DB3035;
} 

.pill-nav a.active {
    background-color: #DB3035;
    color: white; 
} 

 
.footercornerimage {
    position: fixed;
    bottom: 0;
    left: 0;
}